@keyframes tremblement {
  0% {
    transform: translateX(0) rotate(0deg) perspective(100px);
  }
  10% {
    transform: translateX(-3px) rotate(-3deg) perspective(100px);
  }
  20% {
    transform: translateX(3px) rotate(3deg) perspective(100px);
  }
  30% {
    transform: translateX(-3px) rotate(-3deg) perspective(100px);
  }
  40% {
    transform: translateX(3px) rotate(3deg) perspective(100px);
  }
  50% {
    transform: translateX(-3px) rotate(-3deg) perspective(100px);
  }
  60% {
    transform: translateX(3px) rotate(3deg) perspective(100px);
  }
  70% {
    transform: translateX(-3px) rotate(-3deg) perspective(100px);
  }
  80% {
    transform: translateX(3px) rotate(3deg) perspective(100px);
  }
  90% {
    transform: translateX(-3px) rotate(-3deg) perspective(100px);
  }
  100% {
    transform: translateX(0) rotate(0deg) perspective(100px);
  }
}

  
  .image {
    animation: tremblement 2s;
  }

#cute{
  position: absolute;
  left:0%;
  top:5%;
  height:150%;
  width: 10%;
}

  