.icon{
    width:50px;
    height:50px;
    cursor: pointer;
}
/**
#calculator{
    position:absolute;
    top:5%;
    left:5%;
}
*/

#calculator > h1{
    text-align:center;
}

#calculator #plus{
    position:absolute;
    right:5%;
    width:15%;
    text-align: right;
}



#calculator  #moins{
    position:absolute;
    left:5%;
    width:15%;
    text-align: left;
}

#calculator #calculator_line{
    background-color: white;
    height:2em;
    font-size: 1.5em;
    margin-left: 10%;
    width:80%;
    border-radius:5px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border:2px solid black;
}

#listed li img{height:35px;width:35px;}

#listed{
    display: flex;
    flex-direction: column;
}

#listed li{
    padding: 5px;
    border-bottom: 2px dotted grey;
    display:flex;
    justify-content: space-between;
}

#listed li p{
    display: inline;
}

#recette{
    margin-left: 25%;
}
#recette li p{
    margin-top:25px;
    margin-bottom:25px ;
}

video{
    border-radius: 15px;
}



#calculator #calculator_line:hover{background-color: rgb(23, 23, 23);color:rgb(255, 255, 255)}

@media screen and (max-width:500px){
    img,video{
        width:80%;
        height:auto;
    }

    video{
        margin:10px;
    }

    body{
        height:min-content;
    }

    .trait{
        border-radius: 20px;
        width:100%;
        margin-left:5%;
        overflow:scroll;
        height:500px;
    }
}

