*{
  margin: 0;
  padding:0;
  text-decoration: none;
  list-style: none;
}   


h1{
    margin-left: 5%;
    margin-bottom: 5%;
    font-style:italic;
    text-decoration: underline;
}

h2{
    margin-bottom: 5%;
    font-style:italic;
    text-decoration: underline;
    
}

p{
    color:rgb(255, 102, 0);
    margin: 8px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}

body{
    margin-right: 10%;
    background-image: url("../img/menu/fond-boulangerie-dessine-main_23-2148136973.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-blend-mode: lighten;
}

.trait{
    background-color: blanchedalmond;
    margin-left: 15%;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    

}

img{
    margin-top: 0px;
    height: 300px;
    width: 350px;
}

.space{
    margin:15px 0;
    border-radius: 20%;
}

span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    height: 30vh;
    width:100vw;
}

.navbar{
    position: absolute;
    padding:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing:border-box ;
}

.navbar a {
    color: rgb(0, 0, 0);
}

.navbar{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;

}

.navbar .nav-links ul li{
    margin: 0 25px;

}

.navbar .nav-links ul li.active a{
    color:red;
    font-weight: 600;

}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top:50px;
    right:50px;
    width: 150px;
    height: 150px;
}

@media screen and (max-width:3000px){
    .navbar{
        padding :0;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top:0;
        left:0;
        display:flex;
        background-color: rgba(244, 244, 244, 0.294);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        margin-left: -100vw;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }
    

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}


